#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}


.container-menu{
    display: grid;
    grid-template-columns: 0.7fr 3.3fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "lateral datos datos"
    "lateral heroe heroe";
    height: 98vh;
    width: 100%;
}