.container-datos{
    grid-area: datos;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.407);
}

.titulo-datos{
    color: black;
    align-content: center;
    display: flex;
    border-bottom: 3px solid rgba(0, 0, 0, 0.097);
    padding-inline: 1em;
    padding-block: 0.2em;
    margin: 0;
    border-radius: 12px 12px 0 0;
    font-size: 20px;
    font-weight: 800;
}

.container-botones3{
    border-top: 3px solid rgba(0, 0, 0, 0.097);
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.container-form{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding-block: 2rem;
    height: 80%;
    grid-template-areas: 
    "email fechaNac"
    "nombre fechaAnt"
    "ape1 departamento"
    "ape2 puesto"
    "otros otros";
}

.email, .nombre, .ape1, .ape2, .fechaNac, .fechaAnt, .departamento, .puesto, .otros {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0.5em;
    color: #34495e;
    border: 2px solid #dfe6e9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.email:focus, .nombre:focus, .ape1:focus, .ape2:focus, .fechaNac:focus, .fechaAnt:focus, .departamento:focus, .puesto:focus, .otros:focus {
    border-color: #3498db;
    box-shadow: 0 0 12px rgba(52, 152, 219, 0.3);
    outline: none;
}

.btn-guardar{
    background-color: #32426C;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
}

.email{
    grid-area: email;
}

.nombre{
    grid-area: nombre;
}

.ape1{
    grid-area: ape1;
}

.ape2{
    grid-area: ape2;
}

.fechaNacl{
    grid-area: fechaNac;
}

.fechaAnt{
    grid-area: fechaAnt;
}

.departamento{
    grid-area: departamento;
}

.puesto{
    grid-area: puesto;
}

.otros{
    grid-area: otros;
}

